li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  font-size: 18px;
  margin-right: 8px;
  transition: border-bottom 80ms;
  cursor: pointer;
  margin-top: 12px;

}

.l{
  margin-top: 19px;
}
#barra{
  background-color: transparent;
  /*realmente no sirve para nada pero contiene todo lo de la barra adentro, puede servir para especificar
  cosas a futuro -morza */
} 

.selected,
li a:hover {
  
/*pensado para monitor 1080x1920px */
  transition: all 0.4s ease-in-out;
  border-bottom: 2px solid white; /*Cambiar para el modo claro */
  padding-bottom: 10px;
}
a {
 
  text-decoration: none;
  color: white; /*Cambiar para el modo claro */
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 1366px) {
  li {
    margin-top: 0px;
  }
  .l{
    margin-top: 5px;
  }
  li #marg{
    float: right;
    margin-right: 1%;
  }
  li #marg{
    float: left;margin-left: -1%;
  }
 
}