@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);


#img{
    top: 0px;
    margin-top: -5px;
    
    width: 200px;
    height: auto;
}

body{
    margin: 0%;
    background-attachment: fixed;
    z-index: -1;
    background-image: url("../img/otras/estadio.png");

}
hr{
    
    margin-top: -50px;
    width: 100%;
    color: transparent;
   
}

#main{
    background-color: transparent;
    height: 90%;
    width: 100%;
    display: flex;
    
    

    
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2ch;
    font-weight:600;
}

.noticias img{
    border-radius: 3%;
    width: 500%;
}
.info{
    margin-top: -31.5%;
    background-color: transparent;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    width: 220.5;
    height: 130.17;   
}
#div2{
    background-color: white;
    display: flex; 
    height: 50.5%;
    
  /*Cambiar para resolucion de monitor*/  

}
#partido{
    display: flex;
    width: 20%;
    height: 60%;
    background-color: #2b2b2b;
    border-radius: 2%;
    margin-top: 8%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#textoprincipal{
    background-color: transparent;
    width: 31%;
    height: 200%;
    border-radius: 5%;
   margin-left: 70%;
   
   margin-top: 5%;  
   font-size: xx-large;
}
#primerp{
    font: bold 80px;
    text-transform: uppercase;
    color: white;
    text-shadow:3px 8px 15px rgba(0,0,0,0.5),
    3px 8px  5px rgba(0,0,0,0.5);

}
/*rgba(255, 255, 255, 0.384)*/
#botondecomenzar{
    background-color: white;
    height: 5%;
    width: 60%;
    color: black;
    margin-top: 20%;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 9px;
    text-align: center;
    transition: 0.5s;
}

#botondecomenzar:hover{
    background-color: black;
    color: white;
}

#textocomenzar{
    
    padding-top: 5%;
}

#modulopartidos{

    width: auto;
    height: 60%;
    display: flex;
    background-color: black;
}
#div3{
 
   display: flex; 
    height: 100%;
background-color: white;
  /*Cambiar para resolucion de monitor */
}
#barra{
    
    background-color: rgba(255, 255, 255, 0.158);
    z-index: 5;
    margin-top: 0;
    height: 9%;
    top: 0;
} 
.cambiar{
    background-color: rgb(153, 20, 20);   
}

@media screen and (max-width: 1366px) {
   
    #barra {
        height: 10%;
    }
    #div3{
        margin-top: -2%;
       display: flex; 
        height: 89.5%;
      margin-left: 13%;   
    }
  }


  


#publicidadmainimagen{
    width: 100%;
    height: 50.1%;
}


#noticias{

    background-color: transparent;
   margin-top: 2%;
  text-align: center;
  width: 60%;
    margin-left: 0.2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 
  
#noticiasdescripcion{
    margin-top: 1%;
    background-color: red;
    height: 41%;
}


footer {
    height: 30%;
    background-color: #e1e0e7; 
  
    margin-bottom: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}



#publicidadmain{

    margin-top: 1%;
    margin-right: 2%;
    background-color: lime;
    width: 10%;
    height: auto;
    margin-bottom: 1%;
    

}
th, td {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    text-align: center;
    padding-right: 150px;
  }

  .button {
    display: inline-block;
    border-radius: 9px;
    background-color: #7d90e4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    height: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }






