#img{
    top: 0px;
    margin-top: -5px;
    
    width: 200px;
    height: auto;
}

body{
    margin: 0%;
    background-color: white; /*Cambiar para el modo claro */
}
hr{
    
    margin-top: -50px;
    width: 100%;
    color: #B0EACD;
   
}

#main{
    
    height: 90%;
    width: 100%;
    display: flex;
    background-image: url("../img/principal.png");
    
    background-attachment: fixed;
    z-index: -1;
    
}
h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2ch;
    font-weight:600;
}

.noticias img{
    border-radius: 3%;
}
.info{
    margin-top: -31.5%;
    background-color: transparent;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    width: 220.5;
    height: 130.17;   
}
#div2{
    margin-top: 300%;
   display: flex; 
    height: 89.5%;
  margin-left: 12%;
  /*Cambiar para resolucion de monitor*/  

}
#partido{
    display: flex;
    width: 20%;
    height: 60%;
    background-color: #2b2b2b;
    border-radius: 2%;
    margin-top: 8%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#textoprincipal{
    background-color: transparent;
    width: 31%;
    height: 200%;
    border-radius: 5%;
   margin-left: 70%;
   
   margin-top: 5%;  
   font-size: xx-large;
}
#primerp{
    font: bold 80px;
    text-transform: uppercase;
    color: white;
    text-shadow:3px 8px 15px rgba(0,0,0,0.5),
    3px 8px  5px rgba(0,0,0,0.5);

}
/*rgba(255, 255, 255, 0.384)*/
#botondecomenzar{
    background-color: white;
    height: 7%;
    width: 90%;
    color: black;
    margin-top: 20%;
    font-size: 120%;
    border-radius: 20%;
    text-align: center;
    transition: 0.5s;
}

#botondecomenzar:hover{
    background-color: black;
    color: white;
}

#textocomenzar{
    
    padding-top: 5%;
}

#modulopartidos{

    width: auto;
    height: 60%;
    display: flex;
    background-color: black;
}
#div3{
    margin-top: -2%;
   display: flex; 
    height: 89.5%;
  margin-left: 13%;   
  /*Cambiar para resolucion de monitor */
}
#barra{
    border-bottom: 0.5px solid #e7e7e7;
    background-color: white;
    z-index: 5;
    margin-top: 0;
    position: sticky;
    height: 9%;
    top: 0;
} 

@media screen and (max-width: 1366px) {
   
    #barra {
        height: 10%;
    }
    #div2{
        margin-top: 10%;
       display: flex; 
        height: 89.5%;
      margin-left: 12%;
        
        
    }
    #div3{
        margin-top: -2%;
       display: flex; 
        height: 89.5%;
      margin-left: 13%;   
    }
  }

  @media screen and (max-width: 0px) {
       /*hacer mobile */

  }


#publicidadmainimagen{
    width: 100%;
    height: 50.1%;
}


#noticia{

    background-color: transparent;
   margin-top: 2%;
  text-align: center;
  width: 60%;
  margin-left: 10%;

} 
  



footer {
    height: 20%;
    background-color: #e1e0e7; 
  
    margin-bottom: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}



#publicidadmain{

    margin-top: 1%;
    margin-right: 2%;
    background-color: lime;
    width: 10%;
    height: auto;
    margin-bottom: 1%;
    

}
th, td {
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;
    text-align: center;
    padding-right: 150px;
  }

